<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qual maior valor!</title>
</head>

<body>
    <%if(valor1>valor2){%>
        <h1>O <%=valor1%> é maior que o <%=valor2%>.</h1>
    <%}else if(valor2>valor1){%>
        <h1>O <%=valor2%> é maior que o <%=valor1%>.</h1>
    <%}else{%>
        <h1>O <%=valor1%> é igual ao <%=valor2%>.</h1>
    <%}%>
</body>
</html>