<%-include('../cabecalho')-%>
<form method="post">
    <input type="text" name="pesquisar" id="pesquisar" placeholder="Digite aqui o que você deseja pesquisar!">
    <input type="submit" value="Pesquisar">
</form>
<table>
    <tr>
        <th>_id</th>
        <th>Título</th>
        <th>Ano</th>
        <th>Duração</th>
        <th>Edita</th>
        <th>Deleta</th>
    </tr>

    <%Filmes.forEach(function(filme){  %>
    <tr>
        <td><%=filme._id %></td>
        <td><%=filme.titulo %></td>
        <td><%=filme.ano %></td>
        <td><%=filme.tempo %></td>
        <td>
            <a href="/filme/edt/<%=filme._id %>">Editar</a>
        </td>
        <td>
            <a href="/filme/del/<%=filme._id %>">Deletar</a>
        </td>
    </tr>
    <% }) %>
</table>
<%-include('../rodape')-%>