<%-include('../cabecalho') %>
<h1>Edita Usuário</h1>
<form method="post" enctype="multipart/form-data">
    Id: <input type="text" readonly name="id" id="id" value="<%=Usuario._id%>"><br />
    Nome: <input type="text" name="nome" id="nome" value="<%=Usuario.nome%>"><br />
    Email: <input type="email" name="email" id="email" value="<%=Usuario.email%>"><br />
    Senha: <input type="password" name="senha" id="senha"><br />
    Foto: <input type="file" name="foto" id="foto"><br />
    <input type="submit" value="Editar">
</form>
<%-include('../rodape') %>