<%-include('../cabecalho') %>
<form method="post">
    <input type="text" name="pesquisar" id="pesquisar" placeholder="Digite aqui o que você deseja pesquisar!">
    <input type="submit" value="Pesquisar">
</form>
<table>
    <tr>
        <th>_id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Foto</th>
        <th>Criação</th>
        <th>Edita</th>
        <th>Deleta</th>
    </tr>

    <%Usuarios.forEach(function(usuario){  %>
    <tr>
        <td><%=usuario._id %></td>
        <td><%=usuario.nome %></td>
        <td><%=usuario.email %></td>
        <td>
            <img style="width: 200px;" src="/fotos/<%=usuario.foto %>" alt="Foto do Usuário">
        </td>
        <td><%=usuario.criacao %></td>
        <td>
            <a href="/usuario/edt/<%=usuario._id %>">Editar</a>
        </td>
        <td>
            <a href="/usuario/del/<%=usuario._id %>">Deletar</a>
        </td>
    </tr>
    <% }) %>
</table>
<%-include('../rodape') %>